@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Cookie|Pirata+One|Satisfy|Sniglet|Srisakdi|The+Girl+Next+Door');
/* This
is a
comment! */

/* CSS Syntax:

  selector {
    property: value;
    property: value;
}

*/

/* Type selector */

p { /* select all <p>  */
  font-size: 1.2em; /* 16px, ?pt, 100%, 1em, */
  font-family: 'Sniglet', serif;
  line-height: 1.5em;
}

figcaption {
  /*font-weight: normal;
  font-size: 0.75 em;
  line-height: 1.5 em;
  font-family: Georgia, "New Times Roman", serif;*/
  font: normal 1em/1.5em 'Satisfy', cursive;
  color: rgba(0,6,127,1);
  text-align: center;;
}

/* Class selector (applied to as many elements as you like) */

.milk-text { /* select elements with class="milk-text" */
  font: bold 2.6em 'Pirata One', cursive;
  color: purple;
  text-shadow: 0 2px 3px #220546;
}

/* ID selector (apply to one unique element per page) */

#logo { /* select elements with id="logo" */
}

/* Descendant selector */

#logo h1 { /*selects <h1> if inside the id="logo" */
  font-family: 'Baloo Chettan', serif;
}
#logo h2 { /*selects <h2> if inside the id="logo" */
  font-family: 'Cookie', cursive;
}

/* Pseudo Selector */

#details a:link, #details a:visited {
  color: grey;
  text-decoration: none;
}
#details a:hover {
  font-family: Srisakdi, serif;
  color: aqua;
  text-decoration: underline;
}

#details a:active {
  color: purple;
}

/*/////MEDIA/////*/
img, video, audio {
  max-width: 100%;
}

/*/////LAYOUT/////*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
}

.col-1 {
  float: left;
  width: 32%;
  background: #ccc;

}

.col-2 {
  float: left;
  width: 66%;
  background: #ccc;
}

.col-3 {
  background: #ccc;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

[class*="col-"] {
  margin-left: 2%;
}

.first {
  margin-left: 0%;
}

/*/////SECTIONS/////*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

/*/////SOCIAL/////*/

#social {
  position: fixed;
  top: 200px;
  right: 20px;
  width: 40px;
  z-index: 1;
}

#social a {
  display: block;
  width: 40px;
  height: 40px;
  background: yellow;
}
